.talented {
    width: 1002px;
    background: #fff;
    padding: 40px 60px;
    box-sizing: border-box;
    & > h2 {
        font-size: $maxFont;
        color: $conFontColor;
        height: 40px;
        line-height: 33px;
        font-weight: 300;
        border-bottom: 2px solid $partingLineColor;
        &:last-of-type{
            border-bottom:0;
        }
    }
    img{
        margin-top:20px;
        height:126px;
    }
    .el-table{
        margin-top:20px;
    }
}