.advantage {
    width: 1002px;
    background: #fff;
    padding:40px 60px;
    box-sizing: border-box;
    &>h2{
        font-size:$maxFont;
        color: $conFontColor;
        height:40px;
        line-height:33px;
        font-weight:300;
        border-bottom:2px solid $partingLineColor;
    }
    &>div{
        padding:20px 0;
        p{
            color: $conFontColor;
            line-height:24px;
        }
        h6{
            font-size:$cenFont;
            line-height:24px;
            font-weight:500;
        }
    }
}