.el-carousel__container{
    height:400px;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 200px;
    text-align: center;
    font-weight:bold;
    opacity: 0.75;
    line-height: 400px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}