//页面主题宽度
    $mainWidth: 1208px;
    $centerAuto: 0 auto;

//颜色
    //标题及正文
    $conFontColor: #333;
    //辅助色
    $auxiliaryColor: #999;
    //分割线
    $partingLineColor: #E6E6E6;
    //背景色
    $backgroundColor: #F3F3F3;
    //主色调
    $mainColor: #DA3A00;

//字号
    //大标题
    $maxFont: 24px;
    //二标题
    $cenFont: 18px;
    //正文
    $minFont: 14px;